* {
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #0D161F;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

.header-bg{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/Background.png);
    border-radius: 5px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 45rem;
    
}


.header-top{
    max-width: 76.5em;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1 1 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header-nav ul li{
    margin-left: 2.5em;
    color: #FFFFFF;
    font-size: 0.875em;
    text-transform: uppercase;
    
}

.header-nav ul li a{
    color: white;
}

.header-nav ul li a:hover{
    color:#E13157;
}

.header-valorant{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);

}

.btn{
    color: white;
    margin: 0 auto;
    padding: 0.8em;
    background: #E13157 0% 0% no-repeat padding-box;
    border: 1px solid #E13157;
    border-radius: 5px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: normal;
    cursor: pointer;
}

.btn:hover{
    color: black;
    

}

.modal-component {
    margin: 0 auto;
    text-align: center;
  }

  .supFormModal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;

}

.supFormModal-container{
    display: flex;
    background-color: white;
    width: 75%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    position: relative;
}

.modal-close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
  
  .modal-back, .modal-back-new-agent{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    z-index: 10;
  }
  
  .bg-active {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-container01{
    display: flex;
    background-color: white;
    width: 75%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    position: relative;
    
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-left {
    margin: 0 auto;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .modal-left h3 {
    color: #e13157;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  
  .modal-left h1 {
    color: #133052;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.37em;
    font-weight: bold;
  }
  
  .modal-left p {
    color: #133052;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
  }
  
  .modal-right {
    display: flex;
    max-width: 30em;
    justify-content: center;
    height: 100%;
  }
  .modal-habilidades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .habilidade {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  .habilidade-tittle {
    padding-bottom: 15px;
  }
  .description-p {
    padding-bottom: 30px;
    padding-top: 15px;
  }
  .dmg-p {
    font-weight: bold;
  }
  

.agents-bg{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;

}

.agents-bg::before{
    content: " ";
    background-image: url(../images/valorant-ep1-ato3-publi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

.agents-container{
    margin: 0 auto;
    max-width: 76.5em;
}


.title-agents{
    position: relative;
}


.tittle{
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    margin: 0 auto;
    color: white;
    font-size:2.5em;
    text-transform: uppercase;
}

  .agentCard {
    border: solid 2px #133052;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .agentCard:hover{
    border: 1px solid #E13157;
  }

  .agentCard, .newAgentCard, .seeAllAgentCards{
    flex: 1 1 calc(25% - 20px);
    margin: 0 auto;
    margin: 20px;
    max-width: 265px;
    max-height: 350px;
    min-width: 265px;
    min-height: 350px;
    
  }



  .seeAllAgentCards{
    width: 250px;
    height: 300px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #E13157;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .seeAllAgentCards img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .seeAllAgentCards h4{
    color: #E13157;
    font-size: 1.5em;
    font-weight: normal;
    font-size: 1.5em;
  } 

  .newAgentCard{
    width: 250px;
    height: 300px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #E13157;
    position: relative;
    z-index: 2;
    cursor: pointer;

  }

  .newAgentCard img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .newAgentCard h4{
    color: #E13157;
    font-size: 1.5em;
    font-weight: normal;
    font-size: 1.5em;

  }

  .agentCard h4{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
  }
  
  #cardContainer{
    display: flex;
    flex-wrap: wrap;
  }

  .agentImage:hover{
    transform: scale(1.05);
  }

  .maps-cards{
      display: flex;
      flex-wrap: wrap;
      
  }



.middle-bg{
    
    background-image: url(../images/valorant-game-logo-4k-wi-2048x2048.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-top: solid 1px #E13157;
    border-bottom: solid 1px #E13157;
}


.weapons-bg{
    max-width: 100%;
    margin-bottom: 10em;
}

.weapons-header{
    margin: 0 auto;
    max-width: 76.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.weapons-img{
    margin-left: 1.5em;
}

.weapons-container{
    margin: 0 auto;
    max-width: 82em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.weapons-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.weapon-tittle{
    margin-left: 1.8em;
    font-size: 1.5em;
    color: white;
    padding-bottom: 20px;
    padding-top: 40px;
    text-decoration: none;
    font-weight: medium;
}

.arrow-left{
    padding-right: 26px;
    cursor: pointer;
}

.arrow-right{
    margin-left: 26px;
    cursor: pointer;
}


.weapons-img{
    justify-content: center;
    align-items: center;
    padding: 1.5em;

}

.weapons-card{
    
    display: flex;
    flex-wrap: wrap;
}

.weapons-border{
  border: 1px solid #FFFFFF;
  width: 325px;
  height: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.download-bg{
    max-width: 100%;
    margin-bottom: 10em;
}


.download-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 76.5em;
    justify-content: space-between;
    align-items: center;

}

.download-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.download-left h2{
    margin-left: 0;
}

.download-reason{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 40px 20px 10px 0;
}

.download-reason-img{
    margin-right: 25px;
}

.download-reason h4{
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.btn-download{
    margin-top: 40px;
    display: flex;
    background: #E13157 0% 0% no-repeat padding-box;
    border: 1px solid #E13157;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 40px 10px 40px;
    align-items: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}

.btn-download:hover{
    color: black;
}

.btn-dowload-img{
    margin-right: 15px;
}

.suport{
  margin-bottom: 50px;
}

.suport-container{
    max-width: 100%;
    margin: 0 auto;

}

.suport-bg{
    margin: 0 auto;
    max-width: 76.5em;
    background: white;
    border-radius: 10px;
    display: grid;
    padding: 55px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "suport-title suport-title vazio"
    "suport-title suport-title lala"
    "supName supLastName supImg"
    "supMail supNickName supImg"
    "supSubject supSubject supImg"
    "supTxt supTxt supImg"
    "nada supBtn nadinha"
    ;
    gap: 15px;
    grid-template-rows: 50px;

}

.suport-bg::placeholder{
  color: #04254C;
  font-size: 1.25em;
}

.suport-title{
  display: grid;
  grid-area: suport-title;
  text-transform: uppercase;
  font-size: 3em;
  color: #04254C;
  font-size: 1.25em;
}

.suportFontStyle{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  font-size: 1em;
  border: 1px solid #133052;
  border-radius: 5px;
  opacity: 1;
  font-family: roboto;

}

.suportFontStyle::placeholder{
  color:#133052;
  padding-left: 2px;
}

.supName{
  display: grid;
  grid-area: supName;
  color: #133052;
  font-weight: bold;

}

.supLastName{
  display: grid;
  grid-area: supLastName;
  color: #133052;
  font-weight: bold;
}

.supMail{
  display: grid;
  grid-area: supMail;
  color: #133052;
  font-weight: bold;
}

.supNickName{
  display: grid;
  grid-area: supNickName;
  color: #133052;
  font-weight: bold;
}

.supImg{
  display: grid;
  grid-area: supImg;
  justify-content: center;
}
.supSubject{
  display: grid;
  grid-area: supSubject;
  color: #133052;
  font-weight: bold;
}
.supTxt{
  display: grid;
  grid-area: supTxt;
  color: #133052;
  font-weight: bold;
}
.supBtn{
  display: grid;
  grid-area: supBtn;
  justify-content: right;
}

.btn-form{
  color: white;
  margin: 0 auto;
  padding: 0.8em;
  background: #E13157 0% 0% no-repeat padding-box;
  border: 1px solid #E13157;
  border-radius: 5px;
  opacity: 1;
  font-size: 1em;
  font-weight: normal;
  padding: 15px 30px 15px 30px;
  margin-top: 35px;
  cursor: pointer;
}
.btn-form:hover{
  color: black;

}


.suport-title{
    color: #04254C;
    font-weight: normal;
    font-size: 3em;
    font-style: italic;
}

.supFormModal-container{
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  display: grid;
  padding: 55px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "fullNameModal formNameModal imgModalSup"
  "emailModal formEmailModal imgModalSup"
  "nickNameModal formNickNameModal imgModalSup"
  "subjectModal formSubjectModal imgModalSup"
  "descriptionModal nadinha imgModalSup"
  "formTxtModal formTxtModal imgModalSup"
  "none supBtnContainerModal imgModalSup"
  ;
  gap: 15px;
  grid-template-rows: 50px;

}

.fullNameModal{
  display: grid;
  
}

#formNameModal{
  display: grid;
  grid-area: formNameModal;
}

.emailModal{
  display: grid;
  grid-area: emailModal;
}

#formEmailModal{
  display: grid;
  grid-area: formEmailModal;
}

.nickNameModal{
  display: grid;
  grid-area: nickNameModal;
}

#formNickNameModal{
  display: grid;
  grid-area: formNickNameModal;
}

.subjectModal{
  display: grid;
  grid-area: subjectModal;
}

#formSubjectModal{
  display: grid;
  grid-area: formSubjectModal;
}
.descriptionModal{
  display: grid;
  grid-area: descriptionModal;
  
}
#formTxtModal{
  display: grid;
  grid-area: formTxtModal;
  border: 2px solid #04254C;
  padding: 10px;
  border-radius: 5px;
}

.imgModalSup{
  display: grid;
  grid-area: imgModalSup;
}

.supBtnContainerModal{
  display: grid;
  grid-area: supBtnContainerModal;
  display: flex;
  width: 100%;
  justify-content: right;
  align-self: center;
}

.cancelBtnModalSup{
color: #133052;
background-color: white;
border-radius: 3px;
text-align: center;
padding: 10px 15px 10px 15px;
opacity: 1;
align-items: center;
font-size: 0.8em;
text-transform: uppercase;
cursor: pointer;

}

.sendBtnModalSup{
  margin-left: 35px;
  color: white;
  background-color: #E13157;
  border-radius: 3px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  opacity: 1;
  align-items: center;
  font-size: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
}

