* {
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #0D161F;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

.header-bg{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 45rem;
}

.header-valorant{
    position: absolute;
    top: 85%;
    left: 25%
   
    

}

.header-top{
    max-width: 76.5em;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1 1 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header-nav ul li{
    margin-left: 2.5em;
    color: #FFFFFF;
    font-size: 0.875em;
    text-transform: uppercase;
    
}



.header-nav ul li a{
    color: white;
}

.header-nav ul li a:hover{
    color:#E13157;
}



.btn{
    color: white;
    margin: 0 auto;
    padding: 0.8em;
    background: #E13157 0% 0% no-repeat padding-box;
    border: 1px solid #E13157;
    border-radius: 5px;
    opacity: 1;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: normal;

}

.btn:hover{
    color: black;
    

}

.agents-bg{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 10vh;
}

.agents-bg::before{
    content: " ";
    background-image: url(../images/valorant-ep1-ato3-publi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.05;
}

.agents-container{
    margin: 0 auto;
    max-width: 76.5em;

}

.title-agents{
    position: relative;
}

.tittle{
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    margin: 0 auto;
    color: white;
    font-size:2.5em;
    text-transform: uppercase;
}

.middle-bg{
    
    background-image: url(../images/valorant-game-logo-4k-wi-2048x2048.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.maps-container{
    margin: 0 auto;
    max-width: 76.5em;
    padding-bottom: 46.5em;
    
}

.weapons-bg{
    max-width: 100%;
    margin-bottom: 10em;
}

.weapons-header{
    margin: 0 auto;
    max-width: 76.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.weapons-img{
    margin-left: 1.5em;
}

.weapons-container{
    margin: 0 auto;
    max-width: 82em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.weapons-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.weapon-tittle{
    margin-left: 1.8em;
    font-size: 1.5em;
    color: white;
    padding-bottom: 20px;
    padding-top: 40px;
    text-decoration: none;
    font-weight: medium;
}

.arrow-left{
    padding-right: 26px;
}

.arrow-right{
    margin-left: 26px;
}


.weapons-border{
    border: 1px solid #FFFFFF;
    width: 325px;
    height: 194px;
}

.weapons-img{
    align-items: center;
    padding: 1.5em;

}

.weapons-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.download-bg{
    max-width: 100%;
    margin-bottom: 10em;
}


.download-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 76.5em;
    justify-content: space-between;
    align-items: center;

}

.download-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.download-left h2{
    margin-left: 0;
}

.download-reason{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 40px 20px 10px 0;
}

.download-reason-img{
    margin-right: 25px;
}

.download-reason h4{
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.btn-download{
    margin-top: 40px;
    display: flex;
    background: #E13157 0% 0% no-repeat padding-box;
    border: 1px solid #E13157;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 40px 10px 40px;
    align-items: center;
    color: white;
    text-transform: uppercase;

}

.btn-download:hover{
    color: black;
}

.btn-dowload-img{
    margin-right: 15px;
}


.suport-container{
    max-width: 100%;
    padding-bottom: 46.5em;

}
.suport-container{
    margin: 0 auto;
    max-width: 76.5em;
}

.suport-bg{
    background: white;
    border-radius: 5px;
    opacity: 1;
    padding: 50px;
}

.suport-title{
    color: #04254C;
    font-weight: normal;
    font-size: 3em;
    font-style: italic;
}

.suport-form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.suport-form input{
    margin: 15px 10px 10px auto;
}